<img src="./images/logo1.png">

# <center> Introducción al Análisis de Datos con R

## Sesión 4.1: Manipulación de datos

- Lectura de datos.
- **%>%**      : Operador pip
- **select()**  : nos sirve para seleccionar variables por su nombre.
- **filter()**  : nos sirve para seleccionar filas por su nombre.
- **arrange()** : nos sirve para ordenar valors de una (varias) varible(s) de forma ascendente o descendente.
- **mutate()**  : nos sirve para crear nuevas variables a partir de variables existente.

## Lectura de datos

> **Archivos más comunes:**

- read.csv() 
- read.csv2()
- read.delim()
- read_excel()
- Lectura de archivos JSON
- Lectura de archivos XML
- Lectura de tablas HTML

> **Lectura de otros formatos:**

- Lectura de archivos SPSS
- Lectura de archivos SAS
- Lectura de archivos Minitab

> ### read_csv()

In [49]:
df1 <- read.csv('./datasets/iris.csv')
head(df1)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

> Por defecto al leer un archivo supone que tiene encabezados, sino es el caso podemos especificar en la función <span style="color:blue"> read.csv() </span> los encabezados agregando el algumento <span style="color:blue"> header=FALSE</span>.

In [92]:
df2 <- read.csv('./datasets/iris.csv', header=TRUE)
head(df2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 6.3          3.3         6.0          2.5         virginica
2 5.8          2.7         5.1          1.9         virginica
3 7.1          3.0         5.9          2.1         virginica
4 6.3          2.9         5.6          1.8         virginica
5 6.5          3.0         5.8          2.2         virginica
6 7.6          3.0         6.6          2.1         virginica

> Si queremos especificar los nombres de encabezados podemos utilizar el argumento <span style="color:blue"> col.names </span>.

In [93]:
df3 <- read.csv('./datasets/iris.csv', 
                header=TRUE, 
                col.names=c('Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species'))
head(df3)

  Sepal_Length Sepal_Width Petal_Length Petal_Width Species
1 6.3          3.3         6.0          2.5         virginica
2 5.8          2.7         5.1          1.9         virginica
3 7.1          3.0         5.9          2.1         virginica
4 6.3          2.9         5.6          1.8         virginica
5 6.5          3.0         5.8          2.2         virginica
6 7.6          3.0         6.6          2.1         virginica

> Para guardar en formato csv empleamos la función <span style="color:blue"> write.csv() </span>, indicando el objeto a guardar y la ruta con el nombre del archivo.

In [10]:
write.csv(df3, './datasets/iris2.csv', row.names=FALSE)

> ### read_csv2()

In [94]:
# csv separado por ;
df4 <- read.csv('./datasets/iris2.csv', sep=";")
head(df4)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [96]:
# csv separado por "-"
df5 <- read.csv('./datasets/iris3.csv', sep="-")
head(df5)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

> ### read_excel()

In [97]:
library("readxl")

> Por defecto al leer un archivo de excel nos lee únicamente la primera hoja.

In [109]:
df6 <- read_excel("./datasets/iris.xlsx")
head(df6)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

> Si deseamos consolidar todas las hojas de un archivo de excel en un único data frame, podemos emplear lo aprendido sobre programación para automatizar esa tarea.

In [112]:
# código para consolidar varias hojas de excel en un sólo data frame
sheets = 1:3

for(i in 1:length(sheets)){
    if(i == 1){
        df_iris_1 <- read_excel("./datasets/iris.xlsx", sheet=i)
    }else{
        df_iris_n <- read_excel("./datasets/iris.xlsx", sheet=i)
        df_iris_1 <- rbind(df_iris_1, df_iris_n)
    }
}

In [114]:
head(df_iris_1)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [118]:
dim(df_iris_1)

[1] 150   5

> ### Read from the web (Datos de COVID-19 México)

La información se encuentra disponible en la siguiente liga:  <a href="https://www.gob.mx/salud/documentos/datos-abiertos-152127">https://www.gob.mx/salud/documentos/datos-abiertos-152127</a>.

In [89]:
# creación de un archivo temporal
temp <- tempfile()
# descargar archivo .zip al archivo temporal
download.file("http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip",temp)
# lectura del archivo .csv deltro del .zip
covid_mex <- read.csv(unz(temp,'210705COVID19MEXICO.csv'))
# remueve archivos temporales
unlink(temp)

In [90]:
head(covid_mex)

  FECHA_ACTUALIZACION ID_REGISTRO ORIGEN SECTOR ENTIDAD_UM SEXO ENTIDAD_NAC
1 2021-07-05          z482b8      1      12      9         2     9
2 2021-07-05          z49a69      1      12     23         1    23
3 2021-07-05          z23d9d      1      12     22         2    24
4 2021-07-05          z24953      1      12      9         1     9
5 2021-07-05          zz8e77      1      12      9         2     9
6 2021-07-05          z1b0d1      1      12      1         1     1
  ENTIDAD_RES MUNICIPIO_RES TIPO_PACIENTE ... OTRO_CASO TOMA_MUESTRA_LAB
1  9          12            1             ...  2        2
2 23           4            2             ...  1        2
3 22           9            1             ...  2        2
4  9          10            1             ...  1        1
5  9           2            1             ...  2        2
6  1           3            1             ... 99        1
  RESULTADO_LAB TOMA_MUESTRA_ANTIGENO RESULTADO_ANTIGENO CLASIFICACION_FINAL
1 97            2                     97                 1
2 97            2                     97                 2
3 97            2                     97                 6
4  2            2                     97                 7
5 97            2                     97                 6
6  4            2                     97                 5
  MIGRANTE PAIS_NACIONALIDAD PAIS_ORIGEN UCI
1 99       MÃ©xico           97          97
2 99       MÃ©xico           97           1
3 99       MÃ©xico           97          97
4 99       MÃ©xico           97          97
5 99       MÃ©xico           97          97
6 99       MÃ©xico           97          97

## Manipulación de datos

> **select()** : Función para seleccionar variable(s) (columna(s)) de un data frame. Dentro de está función se pueden emplear funciones auxiliares como:
> - starts_with() 
> - ends_with()
> - contains()
> - num_range()
> - one_of()
> - everything()

<img src="./images/fig01.png">

> **filter()** : Función para filtrar observaciones (filas) de una variable(s) (columna(s)) de un data frame dada una condición.

<img src="./images/fig02.png">

> **arrange()** : Función para ordenar una variable (s) (columna(s)) de un data frame. Por defecto ordena de forma ascendente (menor a mayor), para indicar el orden de forma descendente emplemos la función auxiliar **desc(variable)**

<img src="./images/fig03.png">

In [122]:
library('nycflights13')
library("tidyverse")
options(repr.plot.width=16, repr.plot.height=8)

In [123]:
# read dataset
flights = read.csv('./datasets/flights.csv')
head(flights, 3)

  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier
1 517      515            2         830      819            11        UA
2 533      529            4         850      830            20        UA
3 542      540            2         923      850            33        AA
  flight tailnum origin dest air_time distance hour minute time_hour
1 1545   N14228  EWR    IAH  227      1400     5    15     01/01/2013 05:00
2 1714   N24211  LGA    IAH  227      1416     5    29     01/01/2013 05:00
3 1141   N619AA  JFK    MIA  160      1089     5    40     01/01/2013 05:00

| Variable         | Descripción |
| :--- | :--- |
| dep_time         | Hora real de salida |
| sched_dep_time   | Horario de salida y llegada programado |
| dep_delay        | Retraso de salida, en minutos. Los tiempos negativos representan salidas tempranas |
| arr_time         | Hora real de salida y de llegada |
| sched_arr_time   | Horario de llegada programado |
| arr_delay        | Retraso de llegada, en minutos. Los tiempos negativos representan llegadas tempranas |
| carrier          | Abreviación de la auerolínea |
| flight           | Número de vuelo |
| tailnum          | Número de avión |
| origin           | Origen |
| dest             | Destino |
| air_time         | Cantidad de tiempo en el aire, en minutos |
| distance         | Distancia entre aeropuertos, en millas |
| hour             | Hora de salida prevista desglosada en hora  |
| minute           | Hora de salida prevista desglosada en minutos |
| time_hour        | Fecha y hora prevista del vuelo |

[**Ejercicio 1**] crear varibles año, mes y día, y seleccionar las variables <span style="color:blue"> flight </span>,  <span style="color:blue"> air_time </span>, y <span style="color:blue"> distance </span>.

In [124]:
# crear varibles año, mes y día, y seleccionar flight, air_time, y distance
flights2 <- flights %>% 
    mutate(year = as.numeric(substring(time_hour, 7, 10)),
           month = as.numeric(substring(time_hour, 4, 5)),
           day = as.numeric(substring(time_hour, 1, 2))) %>%
    select(time_hour, year, month, day, flight, air_time, distance)

In [125]:
head(flights2, 4)

  time_hour        year month day flight air_time distance
1 01/01/2013 05:00 2013 1     1   1545   227      1400
2 01/01/2013 05:00 2013 1     1   1714   227      1416
3 01/01/2013 05:00 2013 1     1   1141   160      1089
4 01/01/2013 05:00 2013 1     1    725   183      1576

[**Ejercicio 2**] Eliminar la variable  <span style="color:blue"> time_hour </span>.

In [126]:
# eliminar la variable time_hour
flights3 <- flights2 %>% select(-time_hour)
flights3

       year month day flight air_time distance
1      2013 1     1   1545   227      1400
2      2013 1     1   1714   227      1416
3      2013 1     1   1141   160      1089
4      2013 1     1    725   183      1576
5      2013 1     1    461   116       762
6      2013 1     1   1696   150       719
7      2013 1     1    507   158      1065
8      2013 1     1   5708    53       229
9      2013 1     1     79   140       944
10     2013 1     1    301   138       733
11     2013 1     1     49   149      1028
12     2013 1     1     71   158      1005
13     2013 1     1    194   345      2475
14     2013 1     1   1124   361      2565
15     2013 1     1    707   257      1389
16     2013 1     1   1806    44       187
17     2013 1     1   1187   337      2227
18     2013 1     1    371   152      1076
19     2013 1     1   4650   134       762
20     2013 1     1    343   147      1023
21     2013 1     1   1919   170      1020
22     2013 1     1   4401   105       502
23     2013 1     1   1895   152      1085
24     2013 1     1   1743   128       760
25     2013 1     1   1077   157      1085
26     2013 1     1   3768   139       719
27     2013 1     1    303   366      2586
28     2013 1     1    135   175      1074
29     2013 1     1    709   182      1598
30     2013 1     1    575   120       746
...    ...  ...   ... ...    ...      ...
336747 2013 9     30  5489    45       305
336748 2013 9     30  3833    72       529
336749 2013 9     30    97   213      1626
336750 2013 9     30  5048    45       292
336751 2013 9     30  3621    36       213
336752 2013 9     30   185   298      2475
336753 2013 9     30  4509    47       284
336754 2013 9     30  1103   192      1598
336755 2013 9     30  1371   139      1076
336756 2013 9     30   523    37       200
336757 2013 9     30  3842    39       209
336758 2013 9     30  3320    50       301
336759 2013 9     30  5311    61       378
336760 2013 9     30  3660    97       764
336761 2013 9     30  4672   120       872
336762 2013 9     30   108    48       273
336763 2013 9     30   471   318      2565
336764 2013 9     30  1083   123       944
336765 2013 9     30   234    43       266
336766 2013 9     30  1816    41       209
336767 2013 9     30  2002    52       301
336768 2013 9     30   486    47       264
336769 2013 9     30   718    33       187
336770 2013 9     30   745   196      1617
336771 2013 9     30  5274    NA       764
336772 2013 9     30  3393    NA       213
336773 2013 9     30  3525    NA       198
336774 2013 9     30  3461    NA       764
336775 2013 9     30  3572    NA       419
336776 2013 9     30  3531    NA       431

In [15]:
dim(flights3)

[1] 336776      6

[**Ejercicio 3**] Filtrar mes de enero.

In [59]:
# filtrar por mes de enero
jan <- flights3 %>% filter(month == 1)
head(jan, 4)

  year month day flight air_time distance
1 2013 1     1   1545   227      1400
2 2013 1     1   1714   227      1416
3 2013 1     1   1141   160      1089
4 2013 1     1    725   183      1576

In [57]:
dim(jan)

[1] 27004     7

[**Ejercicio 4**] Filtrar por mes de enero y día primero.

In [60]:
# filtrar por mes de enero y primer día
jan1 <- flights3 %>% filter(month == 1, day == 1)
head(jan1, 4)

  year month day flight air_time distance
1 2013 1     1   1545   227      1400
2 2013 1     1   1714   227      1416
3 2013 1     1   1141   160      1089
4 2013 1     1    725   183      1576

[**Ejercicio 5**] Filtrar por los meses de enero a marzo.

In [61]:
# filtrar por mes de enero a marzo
jan_feb_mar <- flights3 %>% filter(month %in% c(1,2,3))
head(jan_feb_mar, 4)

  year month day flight air_time distance
1 2013 1     1   1545   227      1400
2 2013 1     1   1714   227      1416
3 2013 1     1   1141   160      1089
4 2013 1     1    725   183      1576

In [62]:
unique(jan_feb_mar$month)

[1] 1 2 3

[**Ejercicio 6**] Filtrar por mes de enero a marzo y ordenar el día de forma descendente.

In [63]:
# filtrar por mes de enero a marzo y ordenar el día de forma descendente
jan_feb_mar <- flights3 %>% 
    filter(month %in% c(1,2,3)) %>%
    arrange(desc(day))
head(jan_feb_mar, 4)

  year month day flight air_time distance
1 2013 1     31  530    127       725
2 2013 1     31  739    206      1617
3 2013 1     31  727    197      1576
4 2013 1     31   30     60       264

[**Ejercicio 7**] Filtrar por los meses de enero a marzo y ordenar mes y día de forma descendente.

In [64]:
# filtrar por mes de enero a marzo y ordenar mes y día de forma descendente
jan_feb_mar <- flights3 %>% 
    filter(month %in% c(1,2,3)) %>%
    arrange(desc(month), desc(day))

head(jan_feb_mar, 4)

  year month day flight air_time distance
1 2013 3     31   128    59       266
2 2013 3     31  1113    82       529
3 2013 3     31   258   208      1400
4 2013 3     31   725   201      1576